<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Murly's Cool website </title>
  <meta name="description" content="Murly's Personal website">
</head>

<body>
  <div>
    <span class="about-text">
      <p >
        Hi! Welcome to my Intro website.
        This is a site where I just want demo my skils and hobbies.
      </p>
      <p>I am a software engineer by profession currently interested in 
        full-stack development such as: Web application design, back-end services etc.
        Also interested in big data analytics, ML, AI techniques.
      </p>
      <p>I am also very interested in lots of other scientific and engineering fields which I will
        provide some insights into.
      </p>
    </span>
  </div>
</body>

</html>